{% extends "base.html" %}
{% block title %}Election Information{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>Election Details</h2>
  <p>This section displays detailed information about the election including start date, end date, and policies.</p>
  
  <ul class="list-group mt-4">
    <li class="list-group-item">Election Type: Student Council</li>
    <li class="list-group-item">Start Date: 2025-06-01</li>
    <li class="list-group-item">End Date: 2025-06-07</li>
    <li class="list-group-item">Voting Platform: Online Only</li>
    <li class="list-group-item">Eligibility: Registered Students</li>
  </ul>
</div>
{% endblock %}
